/*
* Question dialog
*/
.question-dialog {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 50%;
  margin-bottom: 2.5rem;
  border-radius: 0.7rem;
  background-color: #ffffff;

  &::after {
    content: '';
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    width: 90%;
    height: 100%;
    border-radius: 0.7rem;
    background: #ffffff90;
  }

  .content {
    padding: 0 2rem;
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: get-color('gray');
  }
}

/*
* Card detail
*/
.card-detail {
  width: 90%;
  height: 70vh;
  margin: 1rem auto;
  border-radius: 0.7rem;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba($color: #000000, $alpha: 0.1);
  transition: all 0.3s ease;

  &:hover,
  &:active {
    transform: scale(0.99);
  }

  .img {
    width: 100%;
    height: 60%;
    background-color: yellow;

    img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 0.7rem 0.7rem 0 0;
    }
  }

  .info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 40%;
    padding: 1rem;
    border-radius: 0 0 0.7rem 0.7rem;
    text-decoration: none;
    color: get-color('gray');
    p {
      width: 100%;
      margin: 0;

      &.quote {
        margin-top: 0.7rem;
        font-size: 1.3rem;
        font-weight: bold;
        color: #000000;
      }
    }
  }
}